.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add space on both ends */
    padding: 0 20px; /* Horizontal padding */
}

.navbar-logo {
    height: 60px;
    margin-right: 30%; /* Pushes nav links right */
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px; /* Space between links */
    margin-right: 5%;
    padding: 0;
    align-items: stretch; /* Stretch items to fill the height */
}

.nav-links li {
    display: flex; /* Flex container for centering */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
}

.nav-links li a {
    display: flex; /* Flex container for centering text */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    color: white;
    padding: 20px 16px; /* Padding for a tags */
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition for hover */
    border-radius: 10px;
}

.nav-links li a.active,
.nav-links li a:hover {
    background-color: #1a50ae; /* Active and hover background color */
    color: white;
    border-radius: 10px; /* Optional: rounded corners for active/hover states */
}
