/* RecentWorksCard.css */
.recent-works-card {
    margin: 0 auto; /* Center the card */
    width: 70%; /* Take up 70% of the container's width */
}

.recent-works-card img {
    width: 100%; /* Make image responsive */
    height: auto;
}

.recent-works-card .card-body {
    padding: 15px;
    /* Add other styles as needed */
}

/* Styles for custom arrows */
.slick-next, .slick-prev {
    background: rgba(50, 50, 50, 0.8); /* Darker background for better visibility */
    color: #fff; /* White arrow for contrast */
    font-size: 24px;
    line-height: 0.5;
    opacity: 1; /* Fully opaque */
    transition: background 0.3s, opacity 0.3s;
    z-index: 25;
    border-radius: 50%; /* Circular background */
    padding: 8px; /* Clickable area */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.slick-next:hover, .slick-prev:hover {
    background: rgba(255, 255, 255, 0.8); /* Lighten on hover */
    color: #333; /* Darker color for arrow icon on hover */
}

.slick-prev {
    left: 70px; /* Adjust this value to position the left arrow */
}

.slick-next {
    right: 70px; /* Adjust this value to position the right arrow */
}

@media (max-width: 768px) {
    .slick-next, .slick-prev {
        font-size: 20px; /* Smaller arrows on smaller screens */
        left: 10px; /* Adjust left arrow position */
        right: 10px; /* Adjust right arrow position */
    }
}
