.footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}
