.navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 65px;
}

.navbar-logo {
    height: 50px;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    align-items: center;
    /* Ensure that transform is not affecting the full-screen view */
}

.nav-links li {
    align-items: center;
    justify-content: center;
}

.nav-links li a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.nav-links li a.active,
.nav-links li a:hover {
    background-color: #1a50ae;
    color: white;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 10; /* Ensure it's above other elements */
    }

    .hamburger-line {
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 0.3s; /* Smooth transition for hamburger animation */
    }

    /* Styles for when the hamburger menu is in the 'open' state */
    .hamburger.open .hamburger-line:nth-child(1) {
        transform: translateY(10px) rotate(45deg); /* Top line rotates to form cross */
    }

    .hamburger.open .hamburger-line:nth-child(2) {
        opacity: 0; /* Middle line fades away */
    }

    .hamburger.open .hamburger-line:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg); /* Bottom line rotates to form cross */
    }

    .nav-links {
        position: fixed;
        top: 5%;
        right: 0;
        background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent black */
        height: 100%; /* Full viewport height */
        width: 100%; /* Fixed width for the sidebar */
        flex-direction: column;
        padding-top: 70px; /* Add padding to the top */
        gap: 70px;
        transform: translateX(100%); /* Hide the menu off the screen */
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.open {
        transform: translateX(0); /* Bring the menu into view */
    }

    .nav-links li {
        display: block; /* Stack the links */
        width: 80%;
        text-align: center;
    }

    .nav-links li a {
        padding: 10px;
        width: 100%; /* Full width of the sidebar */
        display: block; /* Stack the links */
    }

    .no-scroll {
        overflow: hidden;
        height: 100%; /* Prevent vertical scroll */
        width: 100%; /* Prevent horizontal scroll */
        position: fixed; /* Prevent scrolling on iOS */
    }
}
